.jobs {
  display: flex;
  &__navigation {
    &-caption {
      color: #929fb1;
      font-size: 14px;
      font-weight: normal;

    &__navigation {
        &-caption {
            color: #929FB1;
            font-size: 14px;
            font-weight: normal;
        }
        padding-top: 60px;
        ul {
            margin-top: 10px;
            li {
                display: flex;
                align-items: center;
                gap: 4px;
                border-radius: 8px;
                padding: 12px 10px;

                &.--active {
                    background-color: #E1E5EA;
                }
            }
        }
        background-color: #F6F7F9;
        border: 1px solid #E8E8E8;
        width: 176px;
        height: 100vh;
        padding: 8px;
        color: #404B5A;
        font-weight: normal;
    }
    background-color: #f6f7f9;
    border: 1px solid #e8e8e8;
    width: 176px;
    height: 100vh;
    padding: 8px;
    color: #404b5a;
    font-weight: normal;
  }
}
}