.jobs {
  display: flex;

  &__navigation {
    &-caption {
      color: #929fb1;
      font-size: 14px;
      font-weight: normal;
    }
    padding-top: 60px;
    ul {
      margin-top: 10px;
      li {
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 8px;
        padding: 12px 10px;
        cursor: pointer;
        transition: 0.07s;
        &.--active {
          background-color: #e1e5ea;
        }
        &:hover {
          background-color: #e1e5ea;
        }
      }
    }
    background-color: #f6f7f9;
    border: 1px solid #e8e8e8;
    width: 176px;
    height: 100vh;
    padding: 8px;
    color: #404b5a;
    font-weight: normal;
  }
  .jobs__vacancies {
    height: 100vh;
    padding: 10px 30px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
    row-gap: 24px;
  }
}
